<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GALLERY</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <img class="img" src="assets/edna/1.jpg">
      <img class="img" src="assets/edna/2.jpg">
      <img class="img" src="assets/edna/3.jpg">
      <img class="img" src="assets/edna/4.jpg">
      <img class="img" src="assets/edna/5.jpg">
      <img class="img" src="assets/edna/6.jpg">
      <img class="img" src="assets/edna/7.jpg">
      <img class="img" src="assets/edna/8.jpg">
      <img class="img" src="assets/edna/9.jpg">
      <img class="img" src="assets/edna/10.jpg">
      <img class="img" src="assets/edna/11.jpg">
      <img class="img" src="assets/edna/12.jpg">
      <img class="img" src="assets/edna/13.jpg">
      <img class="img" src="assets/edna/14.jpg">
      <img class="img" src="assets/edna/15.jpg">

    </ion-card-content>
  </ion-card>
</ion-content>
